.About__main_title{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;

    color: #232323;

}
.About__topic{
    margin-top: 50px;
}
.About__paragraph{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-align: justify;

    color: #232323;
}

.About__main_text{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    text-align: justify;

    color: #232323;
    margin: 30px 0;
}

.About__news_rules{
    display: block;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
    /* identical to box height */
    width: 100%;
    text-align: center;
    color: #232323;

}

.About__normal_title{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
    color: #232323;

}
.less-content{
    max-width: 1070px;
    margin: 0 auto;
}
.About__info{
    margin: 40px 0;
}
.About__info_content{
    width: 100%;
}
.About__science_content{
    width: 35%;
    height: 100%;
    background: #FFFFFF;
    box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.25), 1px 5px 12px #FFFFFF, 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.About__science_title{
    width: 100%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 21px;
    color: #232323;
    text-align: center;

}

.About__topic_number_list{
    margin: 40px 0
}

.About__topic_number_list > * {
    margin: 15px 0;
}
.About__topic_disc_list {
    margin: 15px 0;
}
.About__topic_disc_list > * {
    margin: 15px 0;
}