.FormCommentInput_group{
    position: relative;
    background-color: transparent;
    margin: 25px 0;
    width: 100%;
}
.FormCommentInput{
    background: transparent;
    min-height: 200px;
    width: 100%;
    resize: none;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 0.01em;
    padding: 10px 30px;
    background: #FFFFFF;
    border: 1px solid #C0C0C0;
    border-radius: 4px;
}

.FormCommentInput_label{
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    /* identical to box height */

    letter-spacing: 0.01em;

    color: #C0C0C0;

    position: absolute;
    left: 30px;
    top: 12px;
    transition: all .3s ease;
}
.FormCommentInput_label{
    cursor:text;
}
.FormCommentInput::placeholder{
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 0.01em;
    color: #C0C0C0;
}
.FormCommentInput:focus ~ .FormCommentInput_label,
.FormCommentInput:not(:placeholder-shown) ~ .FormCommentInput_label{
    padding: 0 3px;
    background: white;
    font-size: 16px;
    z-index: 1;
    color: black;
    top: -16px;
}
.FormCommentInput:focus{
    outline: 1px solid #4FC6E0;
}
.FormCommentInput:focus{
    border: 1px solid #4FC6E0;
}