.FormCommentInput_group{
    position: relative;
    background-color: transparent;
    margin-bottom: 25px;
    width: 100%;
}
.FormCommentInput{
    background: transparent;
    min-height: 200px;
    width: 100%;
    resize: vertical;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #232323;
    padding: 10px 20px;
    background: #FFFFFF;
    border-radius: 4px;
}

.FormCommentInput_label{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;

    color: #C0C0C0;

    position: absolute;
    left: 20px;
    top: 12px;
    transition: all .3s ease;
}
.FormCommentInput_label{
    cursor:text;
}
.FormCommentInput::placeholder{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #C0C0C0;
}
.FormCommentInput:focus ~ .FormCommentInput_label,
.FormCommentInput:not(:placeholder-shown) ~ .FormCommentInput_label{
    padding: 0 3px;
    background: white;
    font-size: 16px;
    z-index: 1;
    color: black;
    top: -16px;
}
.FormCommentInput:focus{
    outline: 1px solid black;
}
.FormCommentInput:focus{
    border: 1px solid black;
}