.UserMenu__control {
    width: 100%;
    padding:10px 40px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.UserMenu{
    position: relative;
    border: 1px solid #787878;
    min-width: 200px;
}
.UserMenu__dropdown{
    border: 1px solid #787878;
    width: calc(100% + 2px);
    position: absolute;
    top: 100%;
    left: -1px ;
    cursor: pointer;
    background: #fff;
    z-index: 5;
}
.UserMenu__dropdown_item{
    background: #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    justify-content: center;
    text-align: center;
    width: 100%;
    
}

.UserMenu__dropdown_link{
    text-decoration: none;
    color: black;
}